ul li a {
  text-decoration-skip-ink: none;
}

span {
  display: inline-block;
  transform: rotate(90deg);
}

li:nth-child(n+3):nth-child(-n+5) a {
  color: #f70;
}

li:nth-child(n+6) a {
  color: #666;
}