@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

nav {
  background-color: #a64dff;
  font-family: 'Oswald', sans-serif;
}

nav ul {
  list-style-type: none;
  margin-left: 60px;
  position: relative;
}

nav li {
  display: inline;
}

.menu li a {
  display: inline;
  padding: 11px 15px;
  text-decoration: none;
  color: white;
  line-height: 38px;
}

.menu li a:hover {
  display: inline-block;
  padding-top: inherit;
  padding-bottom: inherit;
  background-color: #eeeeee;
  color: #a0a0a0;
}

.menu {
  padding: 0;
}

li:nth-of-type(8) {
  position: absolute;
  margin-left: 15%;
}